<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include framework/global/seo/meta.html %}

    <link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon.png">
    <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/custom.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="{{ site.fonts.google_fonts }}" rel="stylesheet">
  </head>
<body class="page {% if page.body_classes %}{{ page.body_classes }}{% elsif layout.body_classes %}{{ layout.body_classes }}{% endif %}{% if site.header.fixed %} has-fixed-header{% else %} has-static-header{% endif %}">

{% include framework/global/menu/menu-main-mobile.html %}
{% include framework/global/header/header.html %}

<div id="wrapper" class="wrapper">     
  {{ content }}
</div>

{% include framework/global/footer/bottom.html %}

<script type="text/javascript" src="{{ site.url }}/assets/js/scripts.js"></script>
{% if site.header.fixed %}
  <script type="text/javascript" src="{{ site.url }}/assets/js/header.js"></script>
{% endif %}
<script type="text/javascript" src="{{ site.url }}/assets/js/hamburger.js"></script>

{% include framework/global/seo/google-analytics.html %}

</body>
</html>
